@charset "UTF-8";

@font-face {
    font-family: 'bebas';
    src: url(fontes/BebasNeue-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'pirata';
    src: url(fontes/PirataOne-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'lion';
    src: url(fontes/lion_king.ttf) format(truetype);
}

*{
    margin: 0px;
    padding: 0px;
}


:root{
    --header: #522500;
    --interativo: rgba(0, 0, 0, 0.534);
}

header{
    background-color: var(--header);
    color: white;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.349);
}

header h1{
    color: white;
    font-family: 'pirata';
    text-transform: initial;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-size: 3em;
    margin-top: 15px;
    margin-left: 50px;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    text-shadow: 2px 2px 2px black;
}

nav{
    text-align: right;
}

a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: 'pirata';
    font-size: 18px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px black;
}

a:hover{
    font-size: 120%;
    background-color: var(--interativo);
    border-radius: 5px;
    transition-duration: .25s;
}

article{
    text-align: justify;
}

main{
    line-height: 50px;
}

.principal{
    text-align: center;
}

#ph{
    background: white url(imagens/imagens\ low/pre-historia-low.jpg) bottom center fixed;
}

#ia{
    background: white url(imagens/imagens\ low/idade-antiga-low.jpg) bottom center fixed;
}

#im{
    background: white url(imagens/imagens\ low/idade-media-low.jpg) left center fixed;
}

#r{
    background: white url(imagens/imagens\ low/renascimento.jpeg) left center fixed;
}

#mo{
    background: white url(imagens/imagens\ low/idade-moderna.jpg) right center fixed;
}

#ic{
    background: white url(imagens/imagens\ low/idade-contemporanea.jpg) right center fixed;
}

#ic, #mo, #r, #im, #ph, #ia{
    height: 80vh;
    background-size: cover;
    width: 96.5vw;
}

.img-container{
    box-shadow: inset 5px 2px 100px 0px rgba(0, 0, 0, 0.692);
}

.img-container h2{
    background-color: rgba(0, 0, 0, 0.76);
    display: inline-block;
    padding: 4vw;
    color: white;
    text-shadow: 2px 2px 0px black;
    font-size: 9vw;
    font-family: 'pirata';
    position: relative;
}

.conteudo{
    font-size: 4.5vw;
    position: absolute;
    top:40%;
    left: 48%;
    transform: translate(-50%, -50%);
}


h2{
    font-size: 3em;
    font-family: 'pirata';
    color: rgb(253, 253, 253);
    background-color: #522500cb;
    text-shadow: 2px 2px 4px black;
    border-radius: 15px;
    letter-spacing: 3px;
    padding: 15px;
    margin: 50px;
}

h3{
    font-size: 2.5em;
    text-indent: 25px;
    font-family: 'pirata';
    font-weight: lighter;
    margin: 30px 80px 30px 10px;
    text-decoration: underline;
}

h3::before{
    content: '▪️\00A0';
}

h4{
    font-size: 2em;
    font-family: 'pirata';
    font-weight: normal;
    text-indent: 25px;
    margin-right: 80px;
    text-decoration: underline;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    text-indent: 30px;
    max-width: 800px;
    margin-left: 30px;
    margin-right: 80px;
    padding-bottom: 25px;
}